.aside {
  width: 256px;
  height: 100vh;
  padding: 32px 12px;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.3s;
  overflow: scroll;
  flex-direction: column;
  z-index: 9999;
  background: #fbfafc;
}

.link_wrapper {
  height: 56px;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
}

.link {
  font-weight: 600;
  font-size: 14px;
}

.nav {
  margin-bottom: 32px;
}

.nav_wrapper {
  position: relative;
  padding-bottom: 4px;
}

.nav_wrapper:nth-of-type() {
  content: '';
  position: absolute;
  bottom: 0;
  border-bottom: 1px solid #e4e4e4;
  width: 80%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.nav_wrapper:last-child {
  margin-top: 40px;
}

.nav_title {
  font-size: 12px;
  padding-left: 20px;
  font-weight: 500;
}

.hide_sidebar {
  transform: translateX(-400px);
}

.sidebar_footer {
  margin-top: auto;
}
